# C++ objects and libs

Win32
debug
release
*.exp
*.log
*.sdf
*.suo
*.user
*.opensdf
ipch
/dist
/dependencies/cef
/dependencies/cef-build
/dependencies/include
/dependencies/lib
/dependencies/python-lib
